* {
    box-sizing: border-box;
}
.wrapper {
    width: 1100px;
    margin: 30px auto;
}
header {
    background-color: rgb(255, 187, 0);
}
.block {
    margin: 20px 0 50px 220px;
}
.sitename {
    margin-bottom: 10px;
    font: 20px Arial;
}
nav {
    display: flex;
    width: 600px;
}
.container {
    display: flex;
}
main {
    width: 60%;
    padding: 20px;
}

.right {
    width: 40%;
    padding: 20px;
    font: Arial;
}
nav a {
    padding: 10px;
    color: blue;
    font: 15px Arial;
    text-decoration: none;
}
nav a:hover, nav a:active {
    color: red;
    text-decoration: underline;
}
main h1 {
    font: 20px Arial;
}
main p {
    margin: 10px 0;
    text-align: justify;
    font: 15px Arial;
}
footer {
    padding: 30px 0;
    text-align: center;
    background-color:rgb(255, 187, 0);
}